/*Media Queries Responsive Design */

@media screen and (max-width: 1800px) {
    /*General style*/
    .section__heading {
        font-size: calc(var(--fs-section-heading) - 1rem);
    }
    /*Home section*/
    .home__cta {
        margin-top: 5rem;
    }
    .home__content--heading {
        font-size: var(--fs-section);
    }
    /*Project section*/
    .projects {
        grid-template-areas:
            '. . . . . . . . . . . .'
            '. . . hd hd hd hd hd hd . . .'
            '. pr pr pr pr pr pr pr pr pr pr .'
            '. pr pr pr pr pr pr pr pr pr pr .'
            '. pr pr pr pr pr pr pr pr pr pr .'
            '. pr pr pr pr pr pr pr pr pr pr .'
            '. pr pr pr pr pr pr pr pr pr pr .'
            '. pr pr pr pr pr pr pr pr pr pr .'
            '. pr pr pr pr pr pr pr pr pr pr .'
            '. pr pr pr pr pr pr pr pr pr pr .'
            '. pr pr pr pr pr pr pr pr pr pr .'
            '. . . . . . . . . . . .';

        gap: 0.2rem;
    }
    .projects__container {
        gap: 20px;
    }

    .projects__card {
        height: calc(var(--height-project-card) - 100px);
    }

    .projects__card img {
        height: calc(var(--height-project-card) - 100px);
        width: var(--width-project-card);
    }

    /*Education section*/

    .education__block {
        padding: 8px 40px;
        width: 45%;
        line-height: 16px;
        border-radius: 1rem;
    }
    .education__block--left {
        left: 5%;
    }

    .education__triangle--left {
        right: 28px;
    }

    .education__triangle--right {
        left: 28px;
    }
}

@media screen and (max-width: 1030px) {
    .section__heading {
        font-size: calc(var(--fs-section-heading) - 2rem);
    }
    .services {
        grid-template-areas:
            '. . . . . . . . . . . .'
            '. . . hd hd hd hd hd hd . . .'
            '. sr sr sr sr sr sr sr sr sr sr .'
            '. sr sr sr sr sr sr sr sr sr sr .'
            '. sr sr sr sr sr sr sr sr sr sr .'
            '. sr sr sr sr sr sr sr sr sr sr .'
            '. sr sr sr sr sr sr sr sr sr sr .'
            '. sr sr sr sr sr sr sr sr sr sr .'
            '. sr sr sr sr sr sr sr sr sr sr .'
            '. sr sr sr sr sr sr sr sr sr sr .'
            '. sr sr sr sr sr sr sr sr sr sr .'
            '. . . . . . . . . . . .';
    }
    .services__container {
        gap: 30px;
    }
    .home__content--desc {
        font-size: calc(var(--fs-body) + 3px);
    }
    .home__avatar {
        align-self: center;
        margin-top: 1rem;
    }
    .home__avatar--image {
        width: calc(var(--width-avatar) - 100px);
        height: calc(var(--height-avatar) - 100px);
    }
}

@media screen and (max-width: 960px) {
    .section__heading {
        font-size: calc(var(--fs-section-heading) - 3rem);
    }
    .home__content--heading {
        font-size: var(--fs-section);
        transform: translate(-65%, -110%);
    }
    .home__content--desc {
        font-size: var(--fs-body);
    }
    .home__avatar {
        margin-top: 1rem;
    }
    .home__avatar--image {
        width: calc(var(--width-avatar) - 150px);
        height: calc(var(--height-avatar) - 150px);
    }

    .hamburger-menu {
        grid-area: nv;
        display: inline-block;
        justify-self: flex-end;
        color: var(--secondary-color);
        margin-right: 5rem;
    }
    .navbar {
        display: none;
    }
    .skills {
        height: fit-content;
    }
    .skills__container {
        gap: 1rem;
    }
    .skills__card {
        flex-basis: 48%;
        height: 300px;
    }
    .skills__card img {
        width: 100px;
        height: 100px;
    }
    .projects {
        height: fit-content;
    }
    .education {
        height: fit-content;
    }

    .contact__form {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
}
