/* Déclaration des variables */
:root {
    --primary-color: #ffeb7a; /* Couleur principale - bleu */
    --secondary-color: #eec336; /* Couleur secondaire - vert */
    --text-color: #333; /* Couleur du texte principal */
    --heading-color: #1e272e; /* Couleur des titres */
    --button-bg-color: var(--primary-color); /* Couleur de fond des boutons */
    --button-text-color: #fff; /* Couleur du texte des boutons */
    --button-hover-bg-color: #2980b9; /* Couleur de fond des boutons au survol */
    --button-hover-text-color: #fff; /* Couleur du texte des boutons au survol */
    --nav-bg-color: #fff; /* Couleur de fond de la barre de navigation */
    --nav-text-color: #fff;
    --dark-color: #000;
    /* Couleur du texte de la barre de navigation */
    --nav-hover-text-color: var(
        --primary-color
    ); /* Couleur du texte au survol dans la barre de navigation */
    --section-bg-color: #ecf0f1; /* Couleur de fond des sections */

    /* Gradients */
    --gradient-primary: linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color)
    );
    --gradient-button: linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color)
    );
}
